<a href="https://colab.research.google.com/github/zizarfan/cashierproject/blob/master/Super_Cashier_Project_Ziza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import random

class Transaction():
  '''
  Class Transaction berisi menu-menu untuk menjalankan
  sistem kasir pada Online Supermarket
  '''
  __current_id = []

  def __init__(self):
    self.item_name = list()
    self.item_qty = list()
    self.item_price = list()
    self.cart={}

#Membuat ID transaction
  def id_no(self):
    id_generator = random.randint(11,99)
    self.__current_id = id_generator
    print(f':::Welcome to Online Supermarket::: \n\nYour ID Transaction number is {id_generator} \n This 2-digit number will be added into the bill for unique code \n\n\
    1. To put items in shopping cart, use .add_item(<item name>, <item quantity>, <item price>)\n\
    2. To check whether the entries are correct, use .check_order()\n\
    3. To To delete items, use .delete_item()\n\
    4. To delete all items, use .reset_transaction()\n\
    5. To display the total bill, use .total_price() ')

#Menambahkan item pada shopping cart
  def add_item(self, nama, jumlah, harga):
      self.item_name.append(nama.lower())
      self.item_qty.append(jumlah)
      self.item_price.append(harga)
      for i in range(len(self.item_name)):
        self.cart[self.item_name[i]] = [self.item_qty[i], self.item_price[i]]
      print('Your order summary: \n', self.cart)

#Mengupdate nama item
  def update_item_name(self, current_name, new_name):
    if type(current_name) == str:
      for i, item in enumerate(self.item_name):
        if item == current_name.lower():
          self.item_name[i] = new_name.lower()
          print('Your change has been successfully updated.\nTo check your order, please use def check_order()')
    else:
      print("Enter new item's name in a string data-type")

#Untuk cek hasil sementara (UJICOBA)
  def order_summary(self):
    cart = dict()
    for i in range(len(self.item_name)):
      cart[self.item_name[i]] = [self.item_qty[i], self.item_price[i]]
    print('Your order summary: \n', cart)


#Menampilkan item apa saja yang ada pada shopping cart
  def check_order(self):
    for i in range(len(self.item_name)):
      if type(self.item_name[i]) != str or type(self.item_qty[i]) != int or type(self.item_price[i]) != int or self.item_price[i] < 1 or self.item_qty[i] <1:
        raise Exception('Warning: Errors in data entry - Please make sure you have input the data correctly. To see whats currently on your shopping cart, use .order_summary()')
    print('All data entries are correct')

    #Mencetak items pada shopping cart dalam tabel jika entry sudah sesuai
    total_tag=[]
    for i in range(len(self.item_name)):
      x = self.item_qty[i] * self.item_price[i]
      total_tag.append(x)

    list_order = {'Item': self.item_name, 'Item Quantity': self.item_qty, 'Price/Item': self.item_price, 'Total': total_tag}

    df = pd.DataFrame(list_order)
    df.index = df.index + 1
    return df

#Mengupdate item quantity pada shopping cart
  def update_item_qty(self, current_name, new_qty):
    if type(new_qty) == int:
      for i, item in enumerate(self.item_name):
        if item == current_name.lower():
          self.item_qty[i] = new_qty
          print('Your change has been successfully updated.\nTo check your order, please use def check_order()')
    else:
      print('Enter new quantity with positive integer')

#Mengupdate item price pada shopping cart
  def update_item_price(self, current_name, new_price):
    if type(new_price) == int:
      for i, item in enumerate(self.item_name):
        if item == current_name.lower():
          self.item_price[i] = new_price
          print('Your change has been successfully updated.\nTo check your order, please use def check_order()')
    else:
      print('Enter new price with positive integer')

#Menghapus certain item pada cart
  def delete_item(self, remove_key):
    for i, item in enumerate(self.item_name):
      if item == remove_key.lower:
        self.item_name.pop(i)
        self.item_qty.pop(i)
        self.item_price.pop(i)
        print(f'Item {item} has been removed from shopping cart')

#Menghapus semua item pada cart
  def reset_transaction(self):
    self.item_name.clear()
    self.item_qty.clear()
    self.item_price.clear()
    print('Your shopping cart is empty !')

#Perhitungan total belanja
  def total_price(self):
    try:
      total_bill = 0
      for i in range(len(self.item_name)):
        total_bill += self.item_price[i] * self.item_qty[i]
      if total_bill > 200000:
        total_bill = total_bill * 0.95 + self.__current_id
      elif total_bill > 300000:
        total_bill = total_bill * 0.92 + self.__current_id
      elif total_bill > 500000:
        total_bill = total_bill * 0.9 + self.__current_id
      else:
        total_bill = total_bill + self.__current_id
      print(f'Here is your total amount of payment: Rp {total_bill}')
    except (ValueError, TypeError):
      print('Errors in data entry - Please make sure you have input item data in the shopping cart correctly.')

In [ ]:
purchase = Transaction()
purchase.id_no()

:::Welcome to Online Supermarket:::

Your ID Transaction number is 22
 This 2-digit number will be added into the bill for unique code

    1. To put items in shopping cart, use .add_item(<item name>, <item quantity>, <item price>)
    2. To check whether the entries are correct, use .check_order()
    3. To To delete items, use .delete_item()
    4. To delete all items, use .reset_transaction()
    5. To display the total bill, use .total_price()

In [ ]:
purchase.add_item('Ayam goreng', 2, 20_000)
purchase.add_item('Pasta gigi', 3, 15_000)

Your order summary:
 {'ayam goreng': [2, 20000]}
Your order summary:
 {'ayam goreng': [2, 20000], 'pasta gigi': [3, 15000]}

In [ ]:
purchase.update_item_name('Ayam goreng', "fried chicken")
purchase.update_item_qty('Pasta gigi', 'a')
purchase.update_item_price('Pasta gigi', 20000)

Your change has been successfully updated.
To check your order, please use def check_order()
Enter new quantity with positive integer
Your change has been successfully updated.
To check your order, please use def check_order()

In [ ]:
purchase.check_order()

All data entries are correct

            Item  Item Quantity  Price/Item  Total
1  fried chicken              2       20000  40000
2     pasta gigi              3       20000  60000

In [ ]:
purchase.delete_item('Pasta gigi')
purchase.check_order()

Item pasta gigi has been removed from shopping cart
All data entries are correct

            Item  Item Quantity  Price/Item  Total
1  fried chicken              2       20000  40000

In [ ]:
purchase.reset_transaction()

Your shopping cart is empty !

In [ ]:
purchase.add_item('Ayam goreng', 2, 20_000)
purchase.add_item('Pasta gigi', 3, 15_000)
purchase.add_item('Mainan mobil', 1, 200_000)
purchase.add_item('Mi instan', 5, 3_000)
purchase.total_price()

Your order summary:
 {'ayam goreng': [2, 20000], 'pasta gigi': [3, 15000]}
Your order summary:
 {'ayam goreng': [2, 20000], 'pasta gigi': [3, 15000]}
Your order summary:
 {'ayam goreng': [2, 20000], 'pasta gigi': [3, 15000], 'mainan mobil': [1, 200000]}
Your order summary:
 {'ayam goreng': [2, 20000], 'pasta gigi': [3, 15000], 'mainan mobil': [1, 200000], 'mi instan': [5, 3000]}
Here is your total amount of payment: Rp 285043.0

In [ ]:
purchase.add_item('Ayam goreng', 2, 20_000)
purchase.add_item('Pasta gigi', 3, 15_000)
purchase.delete_item('Pasta gigi')
purchase.reset_transaction()
purchase.add_item('Ayam goreng', 2, 20_000)
purchase.add_item('Pasta gigi', 3, 15_000)
purchase.add_item('Mainan mobil', 1, 200_000)
purchase.add_item('Mi instan', 5, 3_000)
purchase.total_price()
purchase.check_order()

In [ ]:
purchase.delete_item('sapu')
purchase.order_summary()

Item sapu has been removed from shopping cart
Your order summary:
 {'odol': [1, 100000]}

In [ ]:
purchase.update_item_name('odol', 'HP')
purchase.cetak_order()

{'HP': [1, 100000]}
{'HP': [1, 100000], 'sapu': [2, 40000]}

In [ ]:
purchase.total_price()

Your summary order:
Total bill = 180000

In [ ]:
purchase.check_order()

{'HP': [2, 1000]}
{'HP': [2, 1000], 'sapu': [2, 14000]}

In [ ]:
purchase.update_item_price('sapu', 9000)

In [ ]:
purchase.check_order()

{'HP': [2, 1000]}
{'HP': [2, 1000], 'sapu': [2, 9000]}

In [ ]:
purchase.delete_item('HP')

In [ ]:
purchase.check_order()

{'sapu': [2, 1000]}

In [ ]:
purchase.reset_transaction()

Your shopping cart is empty !

In [ ]:
purchase.check_order()

In [ ]:
total_harga = 200000
if total_harga > 200000:
  total_harga = total_harga * 0.95
elif total_harga > 300000:
  total_harga = total_harga * 0.92
elif total_harga > 500000:
  total_harga = total_harga * 0.9
else:
  total_harga

print(total_harga)

200000

In [ ]:
#CARA 2
@dataclass
class Transaction():
  '''
  Class Transaction berisi menu-menu untuk menjalankan
  sistem kasir pada Online Supermarket
  '''


  def __init__(self):
    self.item_name = list()
    self.item_qty = list()
    self.item_price = list()

#Menambahkan item pada shopping cart
  def add_item(self, nama, jumlah, harga):
    self.item_name.append(nama)
    self.item_qty.append(jumlah)
    self.item_price.append(harga)

#Mengupdate nama item
  def update_item_name(self, current_name, new_name):
    self.current_name = current_name
    self.new_name = new_name
    for i, item in enumerate(self.item_name):
      if item == self.current_name:
        self.item_name[i] = self.new_name

#Menampilkan item apa saja yang ada pada shopping cart
  def check_order(self):
    basket = dict()
    for i in range(len(self.item_name)):
      basket[self.item_name[i]] = [self.item_qty[i], self.item_price[i]]
      print(basket)

#Menampilkan TABEL (ujicoba)
    #def check_order_tabel(self):
      #try:
        #basket = dict()
        #for i in range(len(self.item_name)):
          #basket[self.item_name[i]] = [self.item_qty[i], self.item_price[i]]
          #print(basket)
      #except ValueError:
        #print('Terdapat kesalahan input data')

#Mengupdate item quantity pada shopping cart
  def update_item_qty(self, current_name, new_qty):
    self.current_name = current_name
    self.new_qty = new_qty
    for i, item in enumerate(self.item_name):
      if item == self.current_name:
        self.item_qty[i] = self.new_qty

#Mengupdate item price pada shopping cart
  def update_item_price(self, current_name, new_price):
    self.current_name = current_name
    self.new_price = new_price
    for i, item in enumerate(self.item_name):
      if item == self.current_name:
        self.item_price[i] = self.new_price

#Menghapus certain item pada cart
  def delete_item(self, remove_key):
    self.remove_key = remove_key
    for i, item in enumerate(self.item_name):
      if item == self.remove_key:
        self.item_name.pop(i)

#Menghapus semua item pada cart
  def reset_transaction(self):
    self.item_name.clear()
    self.item_qty.clear()
    self.item_price.clear()
    print('Your shopping cart is empty !')

#Perhitungan total belanja
  def total_price(self):
    total_bill = 0
    for i in range(len(self.item_name)):
      total_bill += self.item_price[i] * self.item_qty[i]
    if total_bill > 200000:
      total_bill = total_bill * 0.95
    elif total_bill > 300000:
      total_bill = total_bill * 0.92
    elif total_bill > 500000:
      total_bill = total_bill * 0.9
    else:
      total_bill
    print(f'Your summary order:')
    print(f'Total bill = {total_bill}')

In [ ]:
#contoh bikin tabel

import pandas as pd

a = {'nama':['Faiq', 'Azmi', 'Nurfaizi'], 'umur':[20, 25, 30]}

df = pd.DataFrame(a)
df.index = df.index + 1
df

In [ ]:
num = input ("Enter number :")
print(num)

Enter number :2
2